@using Rent.Data
@model Rent.WebApp.Controllers.DataHelper


    <h1>Modify</h1>
    <a class="btn btn-outline-primary" href="/Home/Index">Home</a>
    <br />
    <form action="/Home/ModifyRental" method="post">
        <select class="form-select" id="PersonRef" name="PersonRef">
            @foreach (var item in Model.p)
            {
                @if (@Model.r.Person.Id == item.Id)
                {
                    <option selected="@item.Id">@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select><br />

        <select class="form-select" id="GameRef" name="GameRef">
            @foreach (var item in Model.g)
            {
                @if (@Model.r.Game.Id == item.Id)
                {
                    <option selected="@item.Id">@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select> <br />
        Rent date: <br />
        <input type="datetime" name="RentDate" value="@Model.r.RentDate" /><br /><br />
        Return date: <br />
        <input type="datetime" name="ReturnDate" value="@Model.r.ReturnDate" /><br />
        <input type="hidden" name="Id" value="@Model.r.Id" /> <br />
        <input class="btn btn-outline-primary" type="submit" value="Save Changes" />
    </form>